<!-- 기본 틀이 되는 base.html을 상속하여 question_list에 적용해줌-->
{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
            </td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>

    </table>
    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>
    <!-- 위와 같이 링크를 통해 페이지를 요청할 경우에는 무조건 GET 방식이 사용됨
     말 그대로 사용자에게 질문 등록할 화면을 보여주는 것이기 때문에 GET
     참고로 만약, 사용자가 값을 적어서 제출한다면 그건 POST 방식임-->
</div>

{% endblock %}