{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<h1>{{ question.subject }}</h1>

<div>
    {{ question.content }}
</div>

<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5> <!--count는 답변의 총 갯수를 의미, question.answer_set은 질문에 연결된 답변임(연결모델명_set)-->
<div>
    <ul>
        <!--for문: for i in 리스트명-->
        {% for answer in question.answer_set.all %}  <!--질문의 연결된 답변의 전체를 answer에 넣어라-->
            <li>{{ answer.content }}</li>
        {% endfor %}
    </ul>
</div>

<form action="{% url 'pybo:answer_create' question.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
</form>