{% extends 'base.html' %} <!-- base.html 상속해주기-->

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form-my-3">
        {% csrf_token %} <!--form 태그 아래에는 보안 적용하는 csrf 써주기-->
         <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
        <!-- 사용자가 질문등록화면으로 넘어와 제목과 내용에 값을 기입하고
         "저장하기"버튼을 클릭하면 동일한 /pybo/question/create/ 페이지가
         POST 방식으로 요청됨. (post는 '부치다, 제출하다'라는 의미로 사용자가
         해당 항목에 값을 추가 또는 수정하여 서버로 제출하는 것이 post 방식)-->
    </form>
</div>
{% endblock %}

<!-- {{내용}}는 안의 "내용"을 출력하라는 의미-->